<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>失敗しないゴルフ場選び</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  </head>
  
  <body>
    
    <div id="splash">
      <div id="splash-logo">looding</div>
        <!--/splash-->
    </div>
    <div class="splashbg"></div>
    <div id="particles-js"></div> 
   <div id="wrapper">
      <header>
          <div class="header-area">
            <div class="heading">
              <h1 class="title">
                <%= link_to 'RootGolf', root_path, data: {"turbolinks" => false} %>
              </h1>
            </div>
            <div class="navbar">
              <ul class="nav-lists" >
                <% if user_signed_in? %>
                  <li><%= link_to current_user.nickname, "#", class: "user-nickname", data: {"turbolinks" => false} %>
                  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "logout", data: {"turbolinks" => false} %></li>
                  <li><%= link_to 'Edit', edit_user_path(current_user) %>
                <% else %>
                  <li><%= link_to 'Login', new_user_session_path, class: "login" %></li>
                  <li><%= link_to 'sign up', new_user_registration_path, class: "sing-up" %></li>
                <% end %>
              </ul>
            </div>
          </div>
      </header>
    </div>
    <div class="scrolldown1"><span>Scroll</span></div>
    <div class="contents">
      <div class="first-view">
        <div class="first-view-text">
        </div>
          <%# トップページの背景画像 %>
      </div>
      <div class="topic-content">
        <div class="page-description">
            <h2>RootGolf</h2>
            <p>失敗しないコース選び</p>
            <p>あなたも共有しませんか</p>
        </div>
      </div>
      <div class="player-data-area">
        
        <div class="topic-content">
          <div class="page-description">
            <p>初心者、上級者、プロ</p>
            <p>GOlfユーザーが選ぶコース基準</p>
          </div>
        </div>
          <canvas id="myPieChart"></canvas>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

          <script>
          var ctx = document.getElementById("myPieChart");
          var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
              labels: ["プレー環境:38%", "料金:31%", "移動時間21%", "難易度:10%"],
              datasets: [{
                  backgroundColor: [
                      "#BB5179",
                      "#FAFF67",
                      "#58A27C",
                      "#3C00FF"
                  ],
                  data: [38, 31, 21, 10]
              }]
            },
            options: {
              title: {
                display: true,
                text: 'ユーザーが選ぶ基準'
              }
            }
          });
          </script>
      </div>
    
      <div class='golf-contents'>
        <h3 class='title'>Recommended place for you</h3>
        <div class="subtitle" >
          Select a golf course
        </div>
       <ul class='golf-lists'>
           <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
          <% @tweets.each do |tweet| %>
            <li class='list'>
              <%= link_to tweet_path(tweet.id), data: {"turbolinks" => false} do %>
                <div class='golf-img-content'>
                <%= image_tag tweet.image, class: "golf-img" if tweet.image.attached? %>
                </div>
                <div class='golf-info'>
                  <h4 class='golf-name'>
                    <%= tweet.golf_course_name %>
                  </h4>
                  <div class='golf-price'>
                    <span><%= tweet.average_amount.name %><br><%= tweet.cart_information.name %></span>
                    <div class='star-btn'>
                      <%= image_tag "旗.png", class:"star-icon" %>
                      <span class='star-count'>0</span>
                    </div>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
            <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

            <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
            <%# 商品がある場合は表示されないようにしましょう %>
          <% if @tweets[0] == nil %>
            <li class='list'>
              <%= link_to '#' , data: {"turbolinks" => false} do %>
                <%= image_tag "advantage_inner_back.png", class: "golf-img" %>
                <div class='golf-info'>
                  <h4 class='golf-name'>
                    Course name
                  </h4>
                  <div class='golf-price'>
                    <span>予約サイトの平均値段<br>カート情報</span>
                    <div class='star-btn'>
                      <%= image_tag "旗.png", class:"star-icon" %>
                      <span class='star-count'>0</span>
                    </div>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
          <%# //商品がある場合は表示されないようにしましょう %>
          <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
        </ul>
      </div>
      <%# /ゴルフ場一覧 %>
    </div>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to new_admin_tweet_path, class: 'tweet-btn', data: {"turbolinks" => false} do %>
        <span class='tweet-btn-text'>登録する</span>
        <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "tweet-btn-icon" %>
      <% end %>
    <% end %>
    <footer>
      <div class='footer'>
        <div class='footer-contents'>
          <div class='root-golf-details'>
            <h2 class='footer-content-head'>RootGolfについて</h2>
            <ul>
              <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link", data: {"turbolinks" => false} %></li>
              <li><%= link_to 'RootGolf利用規約', "#", class: "footer-link", data: {"turbolinks" => false} %></li>
            </ul>
          </div>
          <div class='root-golf-details'>
            <h2 class='footer-content-head'>ゴルフ場を見る</h2>
            <ul>
              <li><%= link_to 'ゴルフ場一覧', "#", class: "footer-link", data: {"turbolinks" => false} %></li>
              <li><%= link_to 'ゴルフ場検索', "#", class: "footer-link", data: {"turbolinks" => false} %></li>
            </ul>
          </div>
          <div class='root-golf-details'>
            <h2 class='footer-content-head'>How to use</h2>
            <ul>
              <li><%= link_to 'RootGolfガイド', "#", class: "footer-link", data: {"turbolinks" => false} %></li>
              <li><%= link_to 'お知らせ', "#", class: "footer-link", data: {"turbolinks" => false} %></li>
            </ul>
          </div>
        </div>
        <%= link_to 'Lets Golf', "#", class:"logo-white", data: {"turbolinks" => false} %>

      </div>
    </footer>
  </body>
</html>