<%= render partial: "shared/header"  %>

<div class="golf-contents">
    <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "ゴルフ場名で検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  <ul class='golf-lists'>
    <% @tweets.each do |tweet| %>
      <li class='list'>
        <%= link_to tweet_path(tweet.id), data: {"turbolinks" => false} do %>
          <div class='golf-img-content'>
          <%= image_tag tweet.images, class: "golf-img" if tweet.images.attached? %>
          </div>
          <div class='golf-info'>
            <h4 class='golf-name'>
              <%= tweet.golf_course_name %>
            </h4>
            <div class='golf-price'>
              <span><%= tweet.average_amount.name %><br><%= tweet.cart_information.name %></span>
              <div class='star-btn'>
                <%= image_tag "旗.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
      
    <% if @tweets[0] == nil %>
     <h3 class='search-title'>Could not search</h3>
    <% end %>
  </ul>
</div>
<%= render partial: "shared/footer" %>