<%= render partial: "shared/header"  %>

<div class="golf-contents">
    <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "ゴルフ場名で検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <h1>
      検索結果
   </h1>
<%# 検索結果の個数で条件分岐 %>
  <% if @results.length !=0 %>
    <% @results.each do |result| %>
      <br>
      <li>
        <%= result.golf_course_name %>
        
      </li>
    <% end %>
  <% else %>
    該当する商品はありません
  <% end %>
<br>
  
      
    <% if @tweets[0] == nil %>
     <h3 class='search-title'>Could not search</h3>
    <% end %>
  </ul>
</div>
<%= render partial: "shared/footer" %>