<div class="whole-page">
  <%= render partial: "shared/header" %>

  <%# 商品の概要 %>
  <div class="golf-show">
    <div class="golf-box">
      
      <div class="golf-img-content">
        <%= image_tag @tweet.image ,class:"golf-box-img" if @tweet.image.attached? %>
      </div>
      <h2 class="name">
        <%= @tweet.golf_course_name %>
      </h2>
      <div class="golf-information-area">
        <ul class="information-golf-title"><span>info</span>
          <li class="information-golf-text"><%= "〒#{@tweet.postal_code}" %></li>
          <li class="information-golf-text"><%= "#{@tweet.bith_place.name}#{@tweet.municipalities}#{@tweet.address}" %></li>
        </ul>
        <ul class="information-golf-title">
          <li class="information-golf-text"><%= "TEL #{@tweet.golf_course_number} 営業時間 #{@tweet.business_hours}" %></li>
        </ul>
      </div>
      <div class="golf-explain-box">
        <div class="golf-explain-title"><%= "ゴルフ場説明" %></div>
        <span class="golf-explain-text"><%= @tweet.explanation %></span>
      </div>
      <div class="golf-play-information-box">
        <div class="golf-explain-title"><%= "管理者から見た評価" %></div>
        <span class="golf-play-information-text"><%= "プレー環境: #{@tweet.play_environment.name}" %></span>
        <span class="golf-play-information-text"><%= "コース難易度: #{@tweet.golf_course_difficult.name}" %></span>
      </div>
      <div class="golf-play-information-box">
        <div class="golf-explain-title">
          <span class="golf-play-information-text"><%= "予約サイトの平均金額: #{@tweet.average_amount.name}" %></span>
          <span class="golf-play-information-text"><%= "ICからの移動時間: #{@tweet.travel_time.name}" %></span>
        </div>
      </div>
      <div class="golf-play-information-box">
        <div class="golf-explain-title">
          <span class="golf-play-information-text"><%= "カート情報: #{@tweet.cart_information.name}" %></span>
          </div>
      </div>

      <% if user_signed_in? %>
      <div class="option">
        <div class="favorite-btn">
          <% if !Favorite.exists?(user_id: current_user.id,tweet_id: @tweet.id) %>
          <%= link_to "お気に入り",tweet_add_path(@tweet),method: :post %>
          <% else %>
          <%= link_to "お気に入り解除",tweet_add_path(@tweet),method: :delete %>
          <% end %>
        </div>
      </div>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.admin? && @tweet.user.id %>
          <%= link_to "golf edit", edit_admin_tweet_path, method: :get, class: "golf-red-btn" %>
          <p class="or-text">or</p>
          <%= link_to "golf delete", admin_tweet_path(@tweet.id), method: :delete, class:"golf-destroy" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="show-image-area">
      <div class="inner">
        <h1 class="page-heading">記事一覧</h1>
        <div class="card__wrapper">
          <div class="card">
            <img src="./images/image.png" alt="" class="card__img" />
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <img src="./images/image.png" alt="" class="card__img" />
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <img src="./images/image.png" alt="" class="card__img" />
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <img src="./images/image.png" alt="" class="card__img" />
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <img src="./images/image.png" alt="" class="card__img" />
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <img src="./images/image.png" alt="" class="card__img" />
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="comment-field-area">
    <%# /商品の概要 %>
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @review], local: true) do |f| %>
        <div class="comment-box">
          <%= f.text_area :content, class:"comment-text", id:"golf-info", placeholder:"経験談をレビューする" ,rows:"7" ,maxlength:"1000" %>
          <p class="comment-warn">
            相手のことを考え丁寧なコメントを心がけましょう。
            <br>
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          </p>
          <%= f.submit "SEND" ,class:"comment-btn" %>
          </div>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>

  <div class="comment-field">
  
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <div class="comment-room">
      <% @reviews.each do |review| %>
          <strong><%=  review.user.nickname %>：</strong>
          <%= review.content %>
          <% if user_signed_in? %>
            <% if current_user.admin? && @tweet.user.id %>
              <%= link_to "削除", tweet_review_path(@tweet,review.id),  method: :delete, class:"comment-destroy", data: {"turbolinks" => false} %></td>
            <% end %>
          <% end %>
        </p>
      <% end %>
      </div>
    </div>
  </div>
  
  <%= render partial: "shared/footer" %>
</div>
