<%= render partial: "shared/third-header" %>
<div class="mipage-area">
  <div class="user-wrapper">
    <h2 class="page-heading">
      <%= "#{@user.nickname}さんの情報"%>
    </h2>
    <div class="user-information-area">
      <ul class="information-user-title"><span>info</span>
        <li class="information-user-text"><%= "プレースタイル:#{@user.play_style.name}" %></li>
      </ul>
      <ul class="information-user-title">
        <li class="information-user-text"><%= "プレー歴: #{@user.play_histry.name} 出身地: #{@user.bith_place.name}" %></li>
      </ul>
    </div>
    <h2 class="page-heading">
      <%= "#{@user.nickname}さんのお気に入り一覧"%>
    </h2>
  </div>

  <%= render partial: "shared/footer" %>
</div>      