<footer>
  <div class='footer'>
    <div class='footer-contents'>
      <div class='root-golf-details'>
        <h2 class='footer-content-head'>RootGolfについて</h2>
        <ul>
          <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link", data: {"turbolinks" => false} %></li>
          <li><%= link_to 'RootGolf利用規約', "#", class: "footer-link", data: {"turbolinks" => false} %></li>
        </ul>
      </div>
      <div class='root-golf-details'>
        <h2 class='footer-content-head'>ゴルフ場を見る</h2>
        <ul>
          <li><%= link_to 'ゴルフ場一覧', "#", class: "footer-link", data: {"turbolinks" => false} %></li>
          <li><%= link_to 'ゴルフ場検索', "#", class: "footer-link", data: {"turbolinks" => false} %></li>
        </ul>
      </div>
      <div class='root-golf-details'>
        <h2 class='footer-content-head'>How to use</h2>
        <ul>
          <li><%= link_to 'RootGolfガイド', "#", class: "footer-link", data: {"turbolinks" => false} %></li>
          <li><%= link_to 'お知らせ', "#", class: "footer-link", data: {"turbolinks" => false} %></li>
        </ul>
      </div>
    </div>
    <%= link_to 'Lets Golf', "#", class:"logo-white", data: {"turbolinks" => false} %>

  </div>
</footer>