<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>失敗しないゴルフ場選び</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title">
          <%= link_to 'RootGolf', "#" %>
        </h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists" >
          <li><%= link_to '新規登録', "#" , class: "sing-up" %></li>
          <li><%= link_to 'ログイン', "#", class: "login" %></li>
          <li><%= link_to 'ログアウト', "#", class: "logout" %></li>
        </ul>
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <div class="first-view-text">
        </div>
          <%# トップページの背景画像 %>
      </div>
      <div class="topic-content">
        <div class="page-description">
            <h2>RootGolf</h2>
            <p>失敗しないコース選び</p>
            <p>あなたも共有しませんか</p>
        </div>
      </div>
    
      <div class='golf-contents'>
        <h3 class='title'>Recommended place for you</h3>
        <div class="subtitle" >
          Select a golf course
        </div>
       <ul class='golf-lists'>
           <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
          <li class='list'>
            <%= link_to "#" do %>
              <div class='golf-img-content'>
               <%= image_tag "golf3.png", class: "golf-img" %>
              </div>
              <div class='golf-info'>
                <h4 class='golf-name'>
                  <%= "コース名" %>
                </h4>
                <div class='golf-price'>
                  <span><%= "8000~10000" %>円<br><%= 'ICから40分' %></span>
                  <div class='star-btn'>
                    <%= image_tag "旗.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
          <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

           <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
          <%# 商品がある場合は表示されないようにしましょう %>
          <li class='list'>
            <%= link_to '#' do %>
              <%= image_tag "advantage_inner_back.png", class: "golf-img" %>
              <div class='golf-info'>
                <h4 class='golf-name'>
                  Course name
                </h4>
                <div class='golf-price'>
                  <span>予約サイトの平均値段<br>ICからの移動時間</span>
                  <div class='star-btn'>
                    <%= image_tag "旗.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
          <%# //商品がある場合は表示されないようにしましょう %>
          <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
        </ul>
      </div>
      <%# /商品一覧 %>
    </div>
    <%= link_to('#', class: 'tweet-btn') do %>
       <span class='tweet-btn-text'>登録する</span>
       <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "tweet-btn-icon" %>
    <% end %>
    <footer>
      <div class='footer'>
        <div class='footer-contents'>
          <div class='furima-details'>
            <h2 class='footer-content-head'>RootGolfについて</h2>
            <ul>
              <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
              <li><%= link_to 'RootGolf利用規約', "#", class: "footer-link" %></li>
            </ul>
          </div>
          <div class='furima-details'>
            <h2 class='footer-content-head'>ゴルフ場を見る</h2>
            <ul>
              <li><%= link_to 'ゴルフ場一覧', "#", class: "footer-link" %></li>
              <li><%= link_to 'ゴルフ場検索', "#", class: "footer-link" %></li>
            </ul>
          </div>
          <div class='furima-details'>
            <h2 class='footer-content-head'>How to use</h2>
            <ul>
              <li><%= link_to 'RootGolfガイド', "#", class: "footer-link" %></li>
              <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
            </ul>
          </div>
        </div>
        <%= link_to 'Lets Golf', "#", class:"logo-white" %>
       
      </div>
    </footer>
  </body>
</html>