<%= render partial: "shared/second-header" %>
<%= form_with model: @user, url: user_session_path, class: 'registration-main', data: {"turbolinks" => false}, local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      Member information
    </h1>
  </div>
  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">e-mail</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">password</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
        <p class='info-text'>※ 本人情報は正しく入力してください。修正するにはお時間を頂く場合があります。</p>
    </div>
  </div>
  <div class='login-btn'>
    <%= f.submit "Login" ,class:"login-red-btn" %>
  </div>
</div>
<% end %>
<%= render partial: "shared/footer" %>